In [51]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

import pandas as pd
from bs4 import BeautifulSoup

In [5]:
browser=webdriver.Chrome()

In [6]:
browser.get('https://www.tripadvisor.in/Hotels-g186338-London_England-Hotels.html')

In [7]:
accept = browser.find_element(By.ID, "onetrust-accept-btn-handler")
accept.click()

In [8]:
bsobj = BeautifulSoup(browser.page_source, 'lxml')

In [18]:
hotels = []
for name in bsobj.findAll('div',{'class':'listing_title'}):
  hotels.append(name.text.strip())
len(hotels)

33

In [55]:
ratings = []
for rating in bsobj.findAll('a',{'class':'ui_bubble_rating'}):
      if rating['alt'] == "5 of 5 bubbles":
            rating = 10
      elif rating['alt'] == "4.5 of 5 bubbles":
            rating = 9
      elif rating['alt'] == "4 of 5 bubbles":
            rating = 8
      elif rating['alt'] == "3.5 of 5 bubbles":
            rating = 7
      else:
            rating = 6
      ratings.append(rating)
len(ratings)

33

In [38]:
reviews = []
for review in bsobj.findAll('a',{'class':'review_count'}):
  reviews.append(review.text.replace('reviews','').strip())
len(reviews)

33

In [33]:
price = []
for p in bsobj.findAll('div',{'class':'price-wrap'}):
  price.append(p.text.replace('€','').strip()) 
price[:5]
len(price)

33

In [60]:
d1 = {'Hotel':hotels,'Ratings':ratings,'No_of_Reviews':reviews,'Price, €':price}
df = pd.DataFrame.from_dict(d1)

In [61]:
df

,Hotel,Ratings,No_of_Reviews,"Price, €"
0,Sponsored YOTEL London Shoreditch,9,684,112
1,1. The Montcalm Royal London House,10,"3,351",208
2,2. Park Grand London Hyde Park,8,"3,362",144
3,3. Park Grand Paddington Court,9,"3,206",185142
4,4. The Resident Covent Garden,10,"1,241",295
5,5. Travelodge London City hotel,9,"2,376",59
6,"Sponsored The Biltmore Mayfair, LXR Hotel...",8,173,930
7,6. Canopy by Hilton London City,10,420,195
8,7. Hard Rock Hotel London,9,"2,231",388
9,8. The Montcalm London Marble Arch,10,"3,810",477
10,9. The Tower Hotel,8,"12,227",146
11,10. Travelodge London Docklands Central,8,568,78
12,"11. The Clermont, Charing Cross",10,"6,711",387
13,12. Leonardo Royal Hotel London St. Paul's,8,"1,451",225
14,13. Leonardo Royal London Tower Bridge,8,"2,145",169
15,14. Holiday Inn London - West,9,"1,280",99
16,15. Royal National Hotel,6,"10,756",218
17,16. The Montague on The Gardens,10,"5,445",336314
18,17. Travelodge London Central City Road,8,"2,198",74
19,18. Park Plaza Westminster Bridge London,9,"23,706",302
20,19. Millennium Gloucester Hotel London Kensington,8,"6,712",154144
21,"20. The Standard, London",9,494,261
22,Sponsored Mercure London Bridge,9,438,203
23,21. Travelodge London Manor House,9,262,94
24,22. The Bailey's Hotel London Kensington,9,"1,923",247
25,23. The Clarendon,8,"2,943",155
26,24. The President Hotel,7,"4,702",194
27,25. Grand Royale London Hyde Park,8,"5,416",149131
28,26. Premier Inn London Hendon (The Hyde) hotel,8,841,75
29,27. Travelodge London Covent Garden,8,"12,301",90
30,28. St. Athans Hotel,8,855,117109
31,29. Novotel London West,8,"5,318",186
32,30. easyHotel London City Shoreditch,8,343,99

In [15]:
df.to_csv("tripadvisor_london_list.csv")